.suivi-nav{
  margin: 10px;
  padding-left: 6px;
  a{
    color: $black;
    font-size: $font-size-less;
    font-style: italic;
    @include transition(all, 0.2s, ease);
    &:hover, &.suivi-active{
      color: $orange;
    }
  }
}
.article-product{
  h2{
    height: 40px;
    color: $orange;
    font-size: $font-size-more;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    line-height: 24px;
    vertical-align: middle;
    margin: 0;
    padding-left: 6px;
    @media screen and(max-width: 640px) {
      height: 60px;
      padding: 0 40px;
      text-align: center;
    }
  }
  hr{
    display: block;
    height: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    background: $orange-gradient;
    border: none;
  }
  h3{
    color: $black;
    font-size: $font-size-more;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid $dark-gray;
  }
  .columns{
    margin: 10px 0;
  }
  .product-description{
    background: $light-gray;
    padding: 10px;
    h3{
      display: block;
      width: 180px;
      margin: 0 auto;
      text-align: center;
    }
    p{
      line-height: 16px;
    }
    b{
      color: $orange;
    }
  }
  .product-caract{
    margin: 0;
    background: $light-gray;
    .columns{
      margin: 0;
      padding: 0;
    }
    ul{
      display: inline-block;
      width: 100%;
      margin: 0;
      list-style: none;
      li{
        min-height: 30px;
        padding: 0 10px;
        &:nth-child(odd){
          background: $light-gray;
        }
        &:nth-child(even){
          background: $medium-gray;
        }
      }
    }
    @media screen and(max-width: 960px) {
      #caract-2{
        ul{
          li{
            &:nth-child(odd){
              background: $medium-gray;
            }
            &:nth-child(even){
              background: $light-gray;
            }
          }
        }
      }
    }
    @media screen and(max-width: 640px) {
      h3{

      }
    }
  }
  .product-link{
    text-align: center;
    a{
      display: inline-block;
      width: 300px;
      background: $white;
      color: $orange;
      font-size: $font-size-big;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin: 10px 50px;
      padding: 10px 0;
      border: 2px solid $orange;
      border-radius: 5px;
      i{
        padding-left: 14px;
      }
      @media screen and(max-width: 640px) {
        margin: 0 auto 10px auto;
      }
      &:hover{
        @include bgOrangeGradient();
        color: $white;
      }
    }
  }
}
.slideshow-slideleft, .slideshow-slideright{
  background: rgba($black, 0.8) !important;
  &:hover{
    background: $black !important;
  }
  &:before{
    color: $white !important;
  }
}
